
/* #region COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 100%;

}
body{

min-width: 1220px;
}

.col4{
    size: calc((100 / 12)*4);

}

.col6{
    size: calc((100 / 12)*6);

}

.col8{
    size: calc((100 / 12)*8);

}

/* #endregion COMMON */

/*#region FLEX SETTING */
.d_flex{
    display: flex;
}

.start{
    justify-content: flex-start;
}
.end{
    justify-content: flex-end;
}
.space_between{
    justify-content: space-between;
}
.center{
    align-items: center;
}
/*#endregion FLEX SETTING */


/* #region COLOR */
:root{
    --drop_button: #0061ff; 
    --drop_jumbo_bg: #b4d0e7; 



}


/* #endregion COLOR */


/* #region DEBUG */





/* #endregion DEBUG */



/* #region UTILITY */
a{
    text-decoration: none;
    color: rgb(46, 46, 46);
    
}
/* #endregion UTILITY */
.white_text{
    color: white;
}
.container_80{
    width: 80%;
    margin: auto;

}
.button{
    background-color: #0061ff;
}

/* #region HEADER */
#app_header{
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    
    .container{
        padding: 1rem;
    }

   .tag_lt{
    margin-right: 1rem;
   }
   .tag_rt{
    margin-left: 1rem;
   }
    .start{
        padding: 0.25rem 0.6rem;
   
   }
   /* .hidden{
    border-bottom: 1px solid black;
    display: none;
   } */
}
/* ANCHORTAG */




/* #endregion HEADER */


/* #region MAIN */
.jumbotron{
    background-color: #b4d0e7;

    .container_80{
        
        




    }

    .main_title{
        font-size: 5rem;
        padding: 2rem 0rem;
    }
    .access, .cancel, .hero_img{
        padding: 2rem 0rem;
    }
    
    .trial{
        padding: 0.5rem;
    }

}


/* #endregion MAIN */


/* #region FOOTER */


/* #endregion FOOTER */