
/* #region COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 100%;

}
body{

min-width: 1220px;
}




.col4{
    width: calc((100% / 12) * 4);

}

.col6{
    width: calc((100% / 12) * 6);

}

.col8{
    width: calc((100% / 12) * 8);

}

/* #endregion COMMON */

/*#region FLEX SETTING */
.d_flex{
    display: flex;
}
#app_flex{
    display: flex;

}
.start{
    justify-content: flex-start;
}
.end{
    justify-content: flex-end;
}
.space_between{
    justify-content: space-between;
}
.center{
    align-items: center;
}
.text_center{
    text-align: center;
}
.justify_center{
    justify-content: center;
}
.vertical_al{
    vertical-align: middle;
}
/*#endregion FLEX SETTING */


/* #region COLOR */
:root{
    --drop_button: #0061ff; 
    --drop_jumbo_bg: #b4d0e7; 
    --drop_light_text: #656262; 


}


/* #endregion COLOR */


/* #region DEBUG */





/* #endregion DEBUG */


/* #region UTILITY */
a{
    text-decoration: none;
    color: #656262;
    
}

.white_text{
    color: white;
}
.container_80{
    width: 80%;
    margin: auto;

}
.container_70{
    width: 70%;
    margin: auto;

}
.button{
    background-color: #0061ff;
}

.section_title{
    font-size: 2.5rem;
    padding: 2rem 0rem;
}

.light_text{
    color: var(--drop_light_text);
}

/* #endregion UTILITY */


/* #region HEADER */
#app_header{
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}
    .tag_lt{
    margin-right: 1rem;
   }
   .tag_rt{
    margin-left: 1rem;
   }
    .start{
        padding: 0.25rem 0.6rem;
   }

    .container{
        padding: 1rem;

    }

    
    

/* #region HOVER  */
.start:hover:hover{
   background-color: #0090ff;
}
.trial:hover{
    background-color: #0090ff;
 }
.hidden:hover{
    border-bottom: 1px solid black;
    
}

/* #endregion HOVER  */

/* #endregion HEADER */


/* #region MAIN */
.jumbotron{
    background-color: #b4d0e7;

    .container_80{
        
        




    }

    .main_title{
        font-size: 5rem;
        padding: 3rem 0rem;
        
    }
    .access, .cancel, .hero_img{
        padding: 2rem 0rem;
    }
    
    .trial{
        padding: 0.5rem;
    }

    



}

.plan{

    .radio_right{
        margin-right: 2rem;
    }

    .radio_invoice{

        margin-bottom: 2rem;
    }


    

.card{
    border: 0.5px solid black;
}

.col4, .sub_type{
   border-bottom: 0.5px solid black;
    padding: 0.25rem; ;
}

 .radio_invoice{
    padding: 2rem 0rem;
}
.sub_details{
    padding: 1rem;
}

.sub_name{
    margin: 1rem 0rem;
}

.price_box{
    margin-bottom: .5rem;
}
.price{
    font-size: .80rem;
   
}
.deadline{
    margin-bottom: 3rem;
}



}
/* #endregion MAIN */


/* #region FOOTER */


/* #endregion FOOTER */