
/* #region COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;

}
body{

min-width: 1220px;
}

/* #endregion COMMON */


/* #region COLOR */
:root{
    --drop_button: #0061ff; 
    --drop_jumbo_bg: #b4d0e7; 



}


/* #endregion COLOR */

/* #region DEBUG */

.debug{
    background-color: aqua;
    margin: 2px solid black;
    width: 5rem;
}


/* #endregion DEBUG */



/* #region UTILITY */
.d_flex{
    display: flex;
}

/* #endregion UTILITY */


/* #region HEADER */
.app_header{
    
    .container_L{
        padding: 2rem;
    }





}

/* #endregion HEADER */


/* #region MAIN */


/* #endregion MAIN */


/* #region FOOTER */


/* #endregion FOOTER */